@tailwind base;
@tailwind components;
@tailwind utilities;

/* Show profile name */
.showName{
     position:absolute;
     right: -16px;
     width: 200px;
     bottom: -35px;
     text-align: right;
}